*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background: #a6845e;
}

/* LEFT PANEL */
.left-panel{
    background: #a6845e;
}

/* RIGHT PANEL */
.right-panel{
    background: url('../assets/bg-login.jpg') no-repeat center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* DESKTOP */
@media (min-width: 992px){

    .right-panel{
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    }

}

/* MOBILE */
@media (max-width: 991px){

    .right-panel{
        clip-path: none;
    }

}

/* LOGIN BOX */
.login-box{
    background: rgba(255,255,255,0.72);
    backdrop-filter: blur(6px);

    border-radius: 24px;

    padding: 40px;

    width: 100%;
    max-width: 380px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* INPUT */
.form-control{
    border-radius: 10px;
    padding: 12px;
    border: none;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #5c3d2e;
}

/* BUTTON */
.login-btn{
    background: #5c3d2e;
    color: white;

    padding: 12px;

    border-radius: 10px;
    border: none;

    transition: 0.3s;
}

.login-btn:hover{
    background: #3e291f;
    color: white;
}

/* LINK */
.forgot-password{
    text-decoration: none;
    color: #5c3d2e;
    font-size: 14px;
}

.forgot-password:hover{
    text-decoration: underline;
}

.register-text a{
    color: #5c3d2e;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover{
    text-decoration: underline;
}