*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: #a6845e;
}

.container {
    display: flex;
    height: 100%;
}

/* Formnya*/
.login-box {
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #5c3d2e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .left-panel{
        width: 0%;
    }
    .right-panel {
        width: 100vw;
        padding:20% 20%;
        background: url('/assets/bg-login.jpg');
        clip-path: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .left-panel{
        width: 0%;
    }
    .right-panel {
        width: 100vw;
        padding:20% 20%;
        height: auto;
        background: url('../assets/bg-login.jpg') no-repeat center/cover;
        clip-path: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1025px) {
    .left-panel {
        width: 55%;
        position: relative;
        z-index: 1;
    }
    
    .right-panel {
        width: 45%;
        position: relative;
        background: url('../assets/bg-login.jpg') no-repeat center/cover;
        /* CLIP PATH DI KANAN */
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}